<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "logo.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm ashish</h1>
		<p>Welcome to my site.</p>
		<p>this site is a plateform for blog lovers</p>
	</div>
</div>
